/*  Programmweites style sheet */
.root {
    -style-border-color-lbl: royalblue;
}

/* Filterpanel unter der Tabelle */
.filter-panel {
    -fx-border-width: 1, 2;
    -fx-border-insets: 0, 3;
    -fx-border-color: -style-tab-border-color-1, transparent;
    -fx-background-color: transparent, -lin-grad-1, -rad-grad-1;
    -fx-text-fill: black;
}

.headerLabel {
    -fx-padding: 5 10 5 10;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-border-insets: 0;
    -fx-border-color: -style-border-color-lbl;
    -fx-background-radius: 15;
    -fx-background-insets: 0;
}

.label-tile-title {
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-border-insets: 5 20 5 20;
    -fx-border-color: -style-border-color-lbl;

    -fx-padding: 5 10 5 10;
    -fx-alignment: center ;

    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label-dialog-title {
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-border-insets: 5 20 5 20;
    -fx-border-color: -style-border-color-lbl;

    -fx-padding: 5 10 5 10;
    -fx-alignment: center ;

    -fx-text-fill: black;
   /* -fx-font-size: 14px;*/
    -fx-font-size: 1.166667em;
}

.statusbar {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-15%) 95%,
            derive(-fx-color,-25%) 100%
        ),
    -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.1em 0.2em 0.1em 0.2em; /* 4 9 4 9 */
}

.goupStyle1{
    -fx-control-inner-background: #d7e9ff ;
}
.goupStyle2{
    -fx-control-inner-background: #f5faff ;
}


/* table finance report */
.table-cell.moneyColumn {
    -fx-alignment: center-right;
}
.table-cell.accColumn {
    -fx-alignment: center-right;
    -fx-text-fill: green;
}
.table-cell.catColumn {
    -fx-alignment: center-right;
    -fx-text-fill: red;
}
.table-view .column-header.accColumn {
    -fx-base: #b7d4b0;
    -fx-alignment: center-right;
}
.table-view .column-header.catColumn {
    -fx-base: #d8a4a2;
    -fx-alignment: center-right;
}
.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
/* Hide the horizontal scrollbar of the summary table
 * derived from http://blog.ngopal.com.np/2012/09/25/how-to-bind-vertical-scroll-in-multi-tableview/
*/
.sumtable .scroll-bar:horizontal .track{
    -fx-padding: 0px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}
.sumtable .scroll-bar:horizontal .increment-button ,
.sumtable .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 0 0;
}
.sumtable  .scroll-bar:horizontal .increment-arrow,
.sumtable  .scroll-bar:horizontal .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}
.sumtable .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 2em;
    -fx-padding: 0px;
}






/* ========================================================================== */
/* sind javafx gui Elemente */
/* ========================================================================== */
/*.menu-bar > .container > .menu-button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.menu-item {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.context-menu {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.text-field{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.combo-box-base{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.button{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}*/
/* damit leere Tabellenzeilen nicht angezeigt werden */
/*.table-row-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
*//* Zeilenrahmen anzeigen *//*
.tree-table-row-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-table-cell-border-color;
}*/
/* damit leere Tabellenzeilen nicht angezeigt werden */
/*.tree-table-row-cell:empty {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}*/
/*.alignCenter {
  -fx-alignment: center;
}
.alignCenterRight {
  -fx-alignment: center-right;
}
.alignCenterLeft {
  -fx-alignment: center-left;
}*/

/* tabs of the tabpane*/
/*
.tab .tab-label {
    -fx-text-alignment: center;
    -fx-alignment: center ;
}
.tab-pane {
    -fx-border-width: 1;
    -fx-border-color: -text-color-blue;
 }
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0 10 0 10;

    -fx-border-width: 1, 2;
    -fx-border-radius: 8 8 0 0, 6 6 0 0;
    -fx-border-insets: 0 3 0 0, 3 6 3 3;
    -fx-border-color: -style-tab-border-color-1, transparent;

    -fx-background-radius: 0, 10 10 0 0, 6 6 0 0;
    -fx-background-insets: 0, 0 3 0 0, 2 5 2 2;
    -fx-background-color:
             transparent,
             -lin-grad-1,
             -rad-grad-1;
    -fx-text-fill: black;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-width: 3, 2;
    -fx-border-color: -style-tab-border-color-1, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-border-width: 2, 1, 2;*/
/* 3 Rahmen, damit die "Gesamtbreite" gleich bleibt *//*

    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:pressed {
    -fx-border-width: 1, 2;
    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2;
 }

.tab .tab-label {
     -fx-text-fill: black;
}
.tab:selected .tab-label {
     -fx-text-fill: -text-color-blue;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected  .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
*/



/* ========================================================================== */
/* clubOrga */
/* ========================================================================== */
/*.filterTabStyle{
    -fx-font-weight: bold;
}

.txtIsEmpty {
    -fx-text-fill: red;
    -fx-control-inner-background: antiquewhite;
}*/

/* Menü-Button */
/*.btnFunction{
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    -fx-border: 5;
}
.btnFunction > .arrow-button {
    *//*Pfeil ausblenden*//*
    -fx-padding: 0;
}
.btnFunction > .arrow-button > .arrow {
    *//*Pfeil ausblenden*//*
    -fx-padding: 0;
}
.btnFunction:focused{
    -fx-background-color: #4898de, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.4,1,1;
}
.btnFunction:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -0.8,1,1;
}
.btnFunction:focused:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -1.2,1,1;
}*/


/* accordion *//*
.vbox-accordion {
    -fx-padding: 5 5 5 15;
}
.button-accordion {
    -fx-background-color: #b6b6b6, linear-gradient(from 15% 53% to 15% 120% , #C2C2C2, #F1F1F1 100% );
    -fx-background-radius: 5;
    -fx-background-insets: 0,1;
    -fx-padding: 3 30 3 30;
    -fx-border: 5;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.button-accordion:hover {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #a0a0a0, #d5d5d5 61% );
}
.button-accordion:hover:focused {
    -fx-background-color: #a1a1a1, linear-gradient(from 0% 83% to 0% -37% , repeat, #a0a0a0, #d5d5d5 61% );
}
.button-accordion:focused {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #808080, #b5b5b5 61% );
}
.button-accordion:pressed {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #808080, #b5b5b5 61% );
}*/


/* Startdialog beim aller ersten Start */
/*
.btnStartDialog{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 10;
    -fx-border: 5;
}
.btnStartDialog:focused{
    -fx-background-color: #8d8d8d, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialog:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialog:focused:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

.btnStartDialogSel{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: -text-color-blue;
}
.btnStartDialogSel:focused{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialogSel:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialogSel:focused:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}
*/


